:root {
  --social-network-icon-color-main: #023d6b;
  --social-network-background-main: transparent;
  --social-network-icon-color-hover: #011a2c;
  --social-network-background-hover: transparent;
  --social-network-animation-transform: translateY(-2px);
  --social-network-animation-transition: all 0.4s
    cubic-bezier(0.645, 0.045, 0.355, 1);
}
